<img src="" alt="">

if (pokemon.types[1]) {
return (
  <div className="pokemon-card">
    <h2>
      {pokemon.name}
    </h2>
    <img src={pokemon.sprites.front_default}/>
    <div className="types">
    <h3>
      Type 1:{pokemon.types[0].type.name}
    </h3>
    <h3>
      Type 2:{pokemon.types[1].type.name}
    </h3>
    </div>
  </div>
)
}
if (!pokemon.types[1]) {
  return(
    <div className="pokemon-card">
      <h2>
        {pokemon.name}
      </h2>
      <img src={pokemon.sprites.front_default}/>
      <div className="types">
      <h3>
        Type:{pokemon.types[0].type.name}
      </h3>
    </div>
    </div>
  )
}

<button type="button" name="button"></button>
