body {
  background-color: lightyellow;
  color: darkred;
  font-family: arial;
  margin-left: 30px;
}

/* .pokemon-container {
  border: 2px solid red;
  padding: 10px;
  margin-top: 12px;
  width: 300px;
} */

.pokemon-card {
  border: 2px solid red;
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: yellow;
  margin: 20px;
  border-radius: 10px;
}

.pokemon-card img {
  margin-left: 50px
}

 .pokemon-card h2 {
   font-family: cursive;
   font-variant: small-caps;
   background-color: dodgerblue;
   color: white;
   text-align: center;
   border-radius: 5px;
   border: 2px lightblue solid;
 }

 .pokemon-card h3 {
   font-variant: small-caps;
   text-align: center;
 }

 .pokemon-card .types {
   border: 2px solid red;
   border-radius: 5px;
   background-color: skyblue;
 }
