body {
  background-color: lightyellow;
  color: darkred;
  font-family: arial;
}

/* .pokemon-container {
  border: 2px solid red;
  padding: 10px;
  margin-top: 12px;
  width: 300px;
} */

.pokemon-card {
  border: 2px solid red;
  width: 200px;
  padding: 20px;
  background-color: yellow;
  margin: 20px;
}

.pokemon-card img {
  margin-left: 50px
}

 .pokemon-card h2 {
   font-family: cursive;
   font-variant: small-caps;
   background-color: blue;
   color: white;
   text-align: center;
 }

 .pokemon-card h3 {
   font-variant: small-caps;
   text-align: center;

 }
